*{
    padding: 0;
    box-shadow: 0;
    margin: 0;
}
.weather {
    background-image: url('../assets/images/cloud.jpg'); /* Adjust path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }